@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Abel&family=Roboto+Mono&display=swap');

:root{
    --primary-color: #26979f;
    --second-color: #b4ccb9;
    --dark-color: #3b3b3b;
    --light-color: #eae2cf;
    --console-font: 'Roboto Mono', monospace;
    --title-font: 'ADLaM Display', cursive;
    --normal-font:  'Abel', sans-serif;
}

body{
    background-color: var(--primary-color);
    color: var(--second-color);
    font-family: var(--normal-font);
    font-size: 24px;
    margin: 16px;
    overflow-y: hidden;
}

.logo path{
    width: 30%;
    height: 30%;
    
}